body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: darkblue;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}